# Logs
logs
*.log

dist
dist-ssr
*.local
.env
src/__pycache__
poetry.lock

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
